.menu-column img {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0px;
}

.menu-column img:hover {
    filter: brightness(50%);
}
.menu-column-text {
    margin-top: 0px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0; /* Warna latar belakang untuk kontainer penjelasan */
    margin: 20px 20px 0 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan sedikit bayangan untuk estetika */
}

.menu-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

}

.menu-column, .menu-column-text {
    flex: 1;
}



